### Please use this as a reference to start your first project:

In [4]:
## If needed, install yfinance library on your local machine:
import os
%pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-15.0.0-cp311-cp311-win_amd64.whl.metadata (3.1 kB)
Requirement already satisfied: numpy<2,>=1.16.6 in c:\users\samue\appdata\local\programs\python\python311\lib\site-packages (from pyarrow) (1.26.4)
Downloading pyarrow-15.0.0-cp311-cp311-win_amd64.whl (24.8 MB)
   ---------------------------------------- 24.8/24.8 MB 26.2 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-15.0.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
## Once yfinance is installed, you can use the following code to download historical data for your 7 assets.

# Load libraries
import pandas as pd
import yfinance as yf
import datetime as dt

# Create a list of assets (update this with your chosen assets):
my_tickers = ['META', 'AAPL', 'AMZN', 'GOOG', 'NFLX', 'MSFT', 'INTC']

# Assign a start date and end date for the data download, 1 year of data
start_date = dt.datetime.today() - pd.Timedelta(365, "d")
end_date = dt.datetime.today()

In [30]:
## Now download the data using the above variables
my_port = yf.download(start=start_date, end=end_date, tickers=my_tickers)

[*********************100%***********************]  7 of 7 completed

In [31]:
## And review the data:
my_port.head()

                            Adj Close                                     \
                                 AAPL        AMZN        GOOG       INTC
Date
2023-02-03 00:00:00-05:00  153.641220  103.389999  105.220001  29.628468
2023-02-06 00:00:00-05:00  150.886627  102.180000  103.470001  28.377258
2023-02-07 00:00:00-05:00  153.790375  102.110001  108.040001  28.733332
2023-02-08 00:00:00-05:00  151.075562  100.050003  100.000000  27.932161
2023-02-09 00:00:00-05:00  150.031372   98.239998   95.459999  27.427721

                                                                    Close  \
                                 META        MSFT        NFLX        AAPL
Date
2023-02-03 00:00:00-05:00  186.529999  256.079376  365.899994  154.500000
2023-02-06 00:00:00-05:00  186.059998  254.513229  361.480011  151.729996
2023-02-07 00:00:00-05:00  191.619995  265.208405  362.950012  154.649994
2023-02-08 00:00:00-05:00  183.429993  264.385742  366.829987  151.919998
2023-02-09 00:00:00-05:00  177.919998  261.303040  362.500000  150.869995

                                                   ...        Open  \
                                 AMZN        GOOG  ...        META
Date                                               ...
2023-02-03 00:00:00-05:00  103.389999  105.220001  ...  183.470001
2023-02-06 00:00:00-05:00  102.180000  103.470001  ...  186.529999
2023-02-07 00:00:00-05:00  102.110001  108.040001  ...  185.580002
2023-02-08 00:00:00-05:00  100.050003  100.000000  ...  190.000000
2023-02-09 00:00:00-05:00   98.239998   95.459999  ...  186.130005

                                                      Volume             \
                                 MSFT        NFLX       AAPL       AMZN
Date
2023-02-03 00:00:00-05:00  259.540009  359.079987  154357300  144374800
2023-02-06 00:00:00-05:00  257.440002  363.640015   69858300   81945200
2023-02-07 00:00:00-05:00  260.529999  358.510010   83322600  119501300
2023-02-08 00:00:00-05:00  273.200012  360.019989   64120100   75878300
2023-02-09 00:00:00-05:00  273.799988  372.410004   56007100   64622500


                               GOOG      INTC      META      MSFT     NFLX
Date
2023-02-03 00:00:00-05:00  36823400  57603100  76809700  29077300  9402000
2023-02-06 00:00:00-05:00  25573000  48726400  42483800  22518000  4994900
2023-02-07 00:00:00-05:00  33738800  50780800  47080700  50841400  6289400
2023-02-08 00:00:00-05:00  73546000  36479100  36139100  54686000  6253200
2023-02-09 00:00:00-05:00  97798600  43906400  37118800  42375100  6901100

[5 rows x 42 columns]

In [32]:
## We may only need one index of the multi-index that was returned (Adj Close)
my_port = my_port['Adj Close']

my_port.head()

,AAPL,AMZN,GOOG,INTC,META,MSFT,NFLX
Date,,,,,,,
2023-02-03 00:00:00-05:00,153.641220,103.389999,105.220001,29.628468,186.529999,256.079376,365.899994
2023-02-06 00:00:00-05:00,150.886627,102.180000,103.470001,28.377258,186.059998,254.513229,361.480011
2023-02-07 00:00:00-05:00,153.790375,102.110001,108.040001,28.733332,191.619995,265.208405,362.950012
2023-02-08 00:00:00-05:00,151.075562,100.050003,100.000000,27.932161,183.429993,264.385742,366.829987
2023-02-09 00:00:00-05:00,150.031372,98.239998,95.459999,27.427721,177.919998,261.303040,362.500000